python-dateutil>=2.6.0
selenium>=3.4.3
six>=1.10.0
python-axolotl
cryptography
typing
numpy
python-magic
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
